In [1]:
import pandas as pd

ventas = pd.read_csv("ventas.csv")
ventas.head()

,order_id,customer,product,quantity,unit_price,order_date,delivery_date,total_sales
0,1,Cliente Industrial C,Vidrio Templado,237,322.97,2025-12-24,2026-01-05,76543.89
1,2,Cliente Industrial C,Vidrio Templado,298,279.32,2025-08-13,2025-08-17,83237.36
2,3,Cliente Industrial C,Vidrio Flotado,177,184.81,2025-04-01,2025-04-04,32711.37
3,4,Cliente Exportacion D,Vidrio Templado,387,121.60,2025-09-24,2025-10-04,47059.20
4,5,Cliente Industrial C,Vidrio Flotado,138,333.62,2025-02-25,2025-03-03,46039.56

In [2]:
produccion = pd.read_csv("produccion.csv")
produccion.head()

  production_id          product production_date  units_produced  scrap_units
0            P1  Vidrio Templado      2025-12-31            1713           54
1            P1  Vidrio Laminado      2025-08-19            1368           91
2            P1   Vidrio Flotado      2025-05-15            3342          229
3            P2  Vidrio Templado      2025-08-03            4649          248
4            P2  Vidrio Laminado      2025-07-21            1591          104

In [3]:
inventario = pd.read_csv("inventario.csv")
inventario.head()

           product         warehouse  stock_units last_update
0  Vidrio Templado  Planta Monterrey         4610  2026-02-01
1  Vidrio Templado     Planta Toluca         2205  2026-01-25
2  Vidrio Templado  Planta Queretaro         2166  2026-01-18
3  Vidrio Laminado  Planta Monterrey         1101  2026-01-24
4  Vidrio Laminado     Planta Toluca         1795  2026-01-09